<template>
  <div>

    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2551.18 1700.79">

        <title>5 floor</title>
        <g id="bg">
          <path class="cls-1"
                d="M1050.66,1206.53l-25.4,25.41,4.1,7.08,3.29,7.5,2.45,7.82,1.56,8,.66,8.17-.25,8.18-1.16,8.11-2.05,7.93-2.91,7.66-3.75,7.28-4.53,6.83-5.26,6.27-5.92,5.66-6.52,5-7,4.21-7.45,3.41-7.78,2.55-8,1.69-8.16.78-8.19-.13-8.12-1-8-1.93-7.7-2.8-7.34-3.63-6.89-4.43-.16.23-39.44-26.54,1.63-2.33L847,1278.62,812.1,1253l-34.36-26.28-33.83-27-33.26-27.65-32.71-28.31-32.12-29-31.53-29.61L583.37,1055l-30.31-30.86-29.67-31.48-29-32.07L466,928l-27.71-33.22-27-33.77-26.35-34.31-25.64-34.84-24.93-35.34L310.1,720.62l-23.48-36.33-3.28,2.08L262.2,652.11l-20.48-34.65-19.81-35.05L202.76,547,184.3,511.23l-17.77-36.12,36.12,17.78,35.77,18.46,35.41,19.14,35,19.81,34.66,20.48,34.26,21.14.64-1,24.69,15.82,19.79-19.8-13.38-13.38L581.89,401.18v-58.1h597.46V336.9h140.51v1.58h495v29.59h200.87v-15.3h289.63v853.76h-544v-18.3H1631v18.3H1050.66ZM839.22,573.82l-.46-8.77-1.38-8.67-2.27-8.48L832,539.7l-4-7.82-4.78-7.37-5.53-6.82-6.21-6.21L804.64,506l-7.37-4.78-7.82-4-8.2-3.15-8.48-2.27-8.67-1.38-8.77-.46-8.77.46-8.67,1.38L729.41,494l-8.2,3.15-7.82,4L706,506l-6.82,5.53L693,517.69l-5.52,6.82-4.79,7.37-4,7.82-3.15,8.2-2.27,8.48-1.37,8.67-.46,8.77.46,8.77,1.37,8.67,2.27,8.48,3.15,8.2,4,7.82,4.79,7.37L693,630l6.21,6.21,6.82,5.52,7.37,4.79,7.82,4,8.2,3.15,8.48,2.27,8.67,1.37,8.77.47,8.77-.47,8.67-1.37,8.48-2.27,8.2-3.15,7.82-4,7.37-4.79,6.82-5.52,6.21-6.21,5.53-6.82,4.78-7.37,4-7.82,3.15-8.2,2.27-8.48,1.38-8.67Z"/>
        </g>
        <g id="space">
          <polygon  id="899727de-e87b-4414-8c95-e6b210db1214" @click="showWindow('899727de-e87b-4414-8c95-e6b210db1214')" v-bind:class="[returnActivePlaceClass('899727de-e87b-4414-8c95-e6b210db1214')]" class="cls-4" points="416.74 573.54 622.83 367.45 637.44 367.45 637.44 437.05 700.69 437.05 700.69 468.58 692.59 473.21 685.99 477.63 677.97 483.78 672.21 489.24 666.75 494.99 658.98 504.71 655.81 509.36 652.86 514.17 649.21 520.93 646 527.91 643.99 533.04 642 538.95 640.32 544.95 638.59 553.05 637.42 561.25 636.76 571.23 636.76 624.83 636.76 711.55 636.76 723.45 636.76 756.33 625.47 767.61 614.77 758.56 591.52 739.26 565.3 718.13 535.55 694.94 493.92 663.81 519.99 637.74 474.58 592.33 454.01 612.9 425.96 584.84 427 583.8 416.74 573.54"/>
          <path     id="b4c2ec4c-afbe-498b-af61-a3d0ffeda112" @click="showWindow('b4c2ec4c-afbe-498b-af61-a3d0ffeda112')" v-bind:class="[returnActivePlaceClass('b4c2ec4c-afbe-498b-af61-a3d0ffeda112')]" class="cls-4" d="M194.9,490.27l20.77,10.51,20.65,10.74,27.42,14.71,27.2,15.12,27,15.52,25,14.86,24.79,15.2,9.49,6-1.51,2.31,21.79,14L373.9,632.74l5.29,5.29-.8.8,68.93,68.93,18.93-18.92,10.79,7.8,25.35,18.75,25.06,19.13,17,13.33,19.72,15.82,19.52,16.07,27.9,23.65,17.08,14.91,9.29,8.25v33.11l.63,9.08,1.15,9,1.27,6.84,1.6,6.78,3.13,10.31,3.9,10,3.5,7.47,3.92,7.25,4.47,7.21,4.89,6.93,4,5,4.19,4.85,2.57,2.78c-32.62,32.62-63.53,66.73-96.16,99.37l-29.11-29.72-28.52-30.27-29.86-33L464.35,926,433,888.3l-20.51-25.71-42.79-56.36-40.07-56.55-26.41-39.5L286.63,684.3l-1,.6-1.37.87-28.71-46.89L232.7,599.23,208.31,555l-25-48.29L169,477.54l26,12.73Zm37.36,75.17,4.18,6.74,4.85,6.27,5.45,5.75,6,5.17,6.16,4.38,6.61,3.66,3.82,1.66,4,1.21,4.1.78,3.14.16,3.12-.44,3-1,2.23-1.56,1.75-2.07,1.18-2.45.67-3.27.1-3.34-.48-3.31L291,579.52l-1.54-4.1-1.95-3.92-4.17-6.73-4.85-6.28L273,552.74l-6-5.17-6.15-4.38-6.61-3.66-3.83-1.66-4-1.21-4.1-.77-3.14-.17-3.12.44-3,1-2.23,1.56-1.76,2.08L228,543.29l-.68,3.26-.1,3.34.48,3.31,1.13,4.22,1.54,4.1Z"/>
          <polygon  id="faa2f3cd-f21a-4047-9c94-0e66a6201ed1" @click="showWindow('faa2f3cd-f21a-4047-9c94-0e66a6201ed1')" v-bind:class="[returnActivePlaceClass('faa2f3cd-f21a-4047-9c94-0e66a6201ed1')]" class="cls-4" points="813.78 470.65 809.74 468.47 806.34 466.78 800.74 464.29 793.17 461.44 787.25 459.62 780.53 457.95 779.02 457.64 773.19 456.6 767.31 455.85 761.45 455.4 758.22 455.28 758.22 356.96 791.44 356.96 791.44 343.76 923.1 343.76 923.1 358.95 965.27 358.95 966.75 358.95 966.75 356.96 1006.99 356.96 1006.99 627.1 873.9 627.1 873.9 573.82 873.67 566.39 872.98 559 871.32 549.2 869.74 542.67 867.45 535.24 865.56 530.13 863.44 525.12 859.42 517.04 856.55 512.07 852.1 505.3 848.29 500.22 844.65 495.83 840.19 491 834.41 485.47 828.42 480.45 822.02 475.78 813.78 470.65"/>
          <polygon  id="de045a5f-ec73-4085-9941-bafd37eb20ad" @click="showWindow('de045a5f-ec73-4085-9941-bafd37eb20ad')" v-bind:class="[returnActivePlaceClass('de045a5f-ec73-4085-9941-bafd37eb20ad')]" class="cls-4" points="907.69 700.44 907.69 723.45 907.72 727.61 993.73 727.53 994.86 727.53 994.86 697.78 1006.99 697.78 1006.99 827.46 702.34 828.03 701.49 700.93 907.69 700.44"/>
          <path     id="ecec6698-4e83-4b9d-b3da-89d064cd14ed" @click="showWindow('ecec6698-4e83-4b9d-b3da-89d064cd14ed')" v-bind:class="[returnActivePlaceClass('ecec6698-4e83-4b9d-b3da-89d064cd14ed')]" class="cls-4" d="M628.37,1098.62l-23-22-22.72-22.36c32.3-32.3,60.71-65.51,95.35-100.15l8.33,7.92,9,7.23,9.51,6.48,10,5.69,10.42,4.86,10.79,4L747,993.37l11.29,2.21,11.43,1.28,11.5.35h27.46l25.37,29,24.83,29.46,24.28,29.9,23.73,30.35,23.17,30.77,22.61,31.2-15.22,15.21-1.6,1.61,64.91,64.91,25.7-25.7,3.84,7.12,3,7.51,2.19,7.79,1.33,8,.44,8.08-.44,8.08-1.33,8-2.2,7.79-3,7.51-3.85,7.12-4.6,6.67-5.3,6.12-5.94,5.49-6.51,4.82-7,4.07-7.4,3.28-7.71,2.45-7.94,1.59-8.07.71-8.09-.18-8-1.06-7.86-1.94-7.6-2.79-7.25-3.61-6.81-4.37-39.47-26.55,1.46-2.12-26.21-18.3-25.92-18.69-34.56-25.86-34-26.55-33.49-27.23-32.93-27.9-32.36-28.56-31.78-29.21-2.71-2.55Zm314.28,181.47,24.05,24.05,14.43-14.43-24-24Z"/>
          <polygon  id="dbba91f9-0210-44fe-9475-7ddb813b9383" @click="showWindow('dbba91f9-0210-44fe-9475-7ddb813b9383')" v-bind:class="[returnActivePlaceClass('dbba91f9-0210-44fe-9475-7ddb813b9383')]" class="cls-4" points="870.43 1012.92 1006.99 921.86 1006.99 1105.3 975.55 1105.3 951.6 1081.36 936.34 1094.72 913.03 1064.89 891.92 1038.75 870.43 1012.92"/>
          <polygon  id="479ad738-b738-4557-b0c8-f3217e1a12f3" @click="showWindow('479ad738-b738-4557-b0c8-f3217e1a12f3')" v-bind:class="[returnActivePlaceClass('479ad738-b738-4557-b0c8-f3217e1a12f3')]" class="cls-4" points="785.82 872.55 702.05 872.55 702.05 832.28 702 829.51 707.72 829.59 785.82 829.59 785.82 872.55"/>
          <polygon  id="bf1adb53-5ddd-441c-8349-75f9fe9db158" @click="showWindow('bf1adb53-5ddd-441c-8349-75f9fe9db158')" v-bind:class="[returnActivePlaceClass('bf1adb53-5ddd-441c-8349-75f9fe9db158')]" class="cls-4" points="760.95 932.03 726.72 913.33 721.91 908.52 702.22 873.68 785.82 873.68 785.82 932.03 760.95 932.03"/>
          <polygon  id="005b56e5-ad68-4f8f-857e-1c616863fa04" @click="showWindow('005b56e5-ad68-4f8f-857e-1c616863fa04')" v-bind:class="[returnActivePlaceClass('005b56e5-ad68-4f8f-857e-1c616863fa04')]" class="cls-4" points="909.05 700.44 993.73 700.44 993.73 726.17 911.77 726.17 909.07 726.19 909.05 723.45 909.05 700.44"/>
          <polygon  id="dba3ec84-bf49-4ffd-9eaa-8a587e1c1137" @click="showWindow('dba3ec84-bf49-4ffd-9eaa-8a587e1c1137')" v-bind:class="[returnActivePlaceClass('dba3ec84-bf49-4ffd-9eaa-8a587e1c1137')]" class="cls-4" points="909.5 927.5 909.48 828.9 1006.99 828.88 1006.99 866.68 909.59 931.33 909.5 927.5"/>
          <polygon  id="2f48be49-ffe3-42ce-9b2b-b8183d09fb3f" @click="showWindow('2f48be49-ffe3-42ce-9b2b-b8183d09fb3f')" v-bind:class="[returnActivePlaceClass('2f48be49-ffe3-42ce-9b2b-b8183d09fb3f')]" class="cls-4" points="1181.62 633.28 1217.84 633.28 1217.84 570.59 1721.15 570.59 1721.15 667.17 1665.04 667.17 1665.04 928.29 1578.15 928.29 1578.15 1017.05 1507.16 1017.05 1507.16 1005.14 1431.77 1005.14 1431.77 1017.05 1388.44 1017.05 1388.44 996.48 1217.84 996.48 1217.84 883.23 1009.82 883.23 1009.25 571.16 1181.62 571.16 1181.62 633.28"/>
          <polygon  id="d27a7120-4bac-42f7-886b-5003f3f329ab" @click="showWindow('d27a7120-4bac-42f7-886b-5003f3f329ab')" v-bind:class="[returnActivePlaceClass('d27a7120-4bac-42f7-886b-5003f3f329ab')]" class="cls-4" points="839.22 573.82 838.76 582.59 837.38 591.26 835.11 599.74 831.96 607.94 827.98 615.76 823.2 623.13 817.67 629.95 811.46 636.16 804.64 641.68 797.27 646.47 789.45 650.45 781.25 653.6 772.77 655.87 764.1 657.24 755.33 657.71 746.56 657.24 737.89 655.87 729.41 653.6 721.21 650.45 713.39 646.47 706.02 641.68 699.2 636.16 692.99 629.95 687.47 623.13 682.68 615.76 678.7 607.94 675.55 599.74 673.28 591.26 671.9 582.59 671.45 573.82 671.9 565.05 673.28 556.38 675.55 547.9 678.7 539.7 682.68 531.88 687.47 524.51 692.99 517.69 699.2 511.48 706.02 505.95 713.39 501.17 721.21 497.19 729.41 494.04 737.89 491.77 746.56 490.39 755.33 489.94 764.1 490.39 772.77 491.77 781.25 494.04 789.45 497.19 797.27 501.17 804.64 505.95 811.46 511.48 817.67 517.69 823.2 524.51 827.98 531.88 831.96 539.7 835.11 547.9 837.38 556.38 838.76 565.05 839.22 573.82 839.22 573.82"/>
          <rect     id="3b91f3f0-5554-463c-acae-8757afb3960a" @click="showWindow('3b91f3f0-5554-463c-acae-8757afb3960a')" v-bind:class="[returnActivePlaceClass('3b91f3f0-5554-463c-acae-8757afb3960a')]" class="cls-4" x="1010.39" y="628.23" width="56.68" height="22.67"/>
          <rect     id="6ce12f53-0a2f-40f1-8c97-68031d03a9aa" @click="showWindow('6ce12f53-0a2f-40f1-8c97-68031d03a9aa')" v-bind:class="[returnActivePlaceClass('6ce12f53-0a2f-40f1-8c97-68031d03a9aa')]" class="cls-4" x="1009.82" y="730.26" width="17.01" height="69.15"/>
          <rect     id="7bed48dd-751d-4614-93fd-f7f92f25cd19" @click="showWindow('7bed48dd-751d-4614-93fd-f7f92f25cd19')" v-bind:class="[returnActivePlaceClass('7bed48dd-751d-4614-93fd-f7f92f25cd19')]" class="cls-4" x="1117.39" y="812.44" width="102.02" height="33.5"/>
          <rect     id="4c52ea0a-09ba-4014-9b0c-78232eb5a134" @click="showWindow('4c52ea0a-09ba-4014-9b0c-78232eb5a134')" v-bind:class="[returnActivePlaceClass('4c52ea0a-09ba-4014-9b0c-78232eb5a134')]" class="cls-4" x="966.18" y="633.33" width="40.81" height="12.47"/>
          <rect     id="ec9c7e8a-06b5-45f8-82ef-cd0247b4cd56" @click="showWindow('ec9c7e8a-06b5-45f8-82ef-cd0247b4cd56')" v-bind:class="[returnActivePlaceClass('ec9c7e8a-06b5-45f8-82ef-cd0247b4cd56')]" class="cls-4" x="1217.84" y="883.23" width="170.61" height="113.24"/>
          <rect     id="3733c33b-f0b5-4742-9875-f93988aeee9e" @click="showWindow('3733c33b-f0b5-4742-9875-f93988aeee9e')" v-bind:class="[returnActivePlaceClass('3733c33b-f0b5-4742-9875-f93988aeee9e')]" class="cls-4" x="1009.82" y="883.23" width="208.02" height="37.75"/>
          <polygon  id="56e1e350-e100-4dc4-beda-e8d0293dd95a" @click="showWindow('56e1e350-e100-4dc4-beda-e8d0293dd95a')" v-bind:class="[returnActivePlaceClass('56e1e350-e100-4dc4-beda-e8d0293dd95a')]" class="cls-4" points="1518.24 1017.05 1578.15 1017.05 1578.15 1125.31 1565.85 1125.31 1565.85 1201.38 1519.94 1201.43 1519.94 1182.56 1518.24 1182.56 1518.24 1017.05"/>
          <path     id="af3382a5-012c-4927-ba1a-c008d28dce9c" @click="showWindow('af3382a5-012c-4927-ba1a-c008d28dce9c')" v-bind:class="[returnActivePlaceClass('af3382a5-012c-4927-ba1a-c008d28dce9c')]" class="cls-4" d="M1765.47,1127.92h-28.79v-10.54l-139.66-.57v8.5h-17.74l0-36.19,144.63.07-.45-154.89,42.06.05C1765.47,998.76,1765.47,1062.53,1765.47,1127.92Z"/>
          <path     id="b217df75-b614-4d16-9090-976ecb3aa697" @click="showWindow('b217df75-b614-4d16-9090-976ecb3aa697')" v-bind:class="[returnActivePlaceClass('b217df75-b614-4d16-9090-976ecb3aa697')]" class="cls-4" d="M1580.42,1006.62l0-5.25,5.85,0h134.9v85.47H1586.08l-5.66.07v-80.33Z"/>
          <rect     id="ea3e5993-40f9-4e8a-8c6f-424dccd0d1e6" @click="showWindow('ea3e5993-40f9-4e8a-8c6f-424dccd0d1e6')" v-bind:class="[returnActivePlaceClass('ea3e5993-40f9-4e8a-8c6f-424dccd0d1e6')]" class="cls-4" x="1767.74" y="986.67" width="161.99" height="214.76"/>
          <rect     id="878531b7-2886-4505-a913-88d9bbcf9046" @click="showWindow('878531b7-2886-4505-a913-88d9bbcf9046')" v-bind:class="[returnActivePlaceClass('878531b7-2886-4505-a913-88d9bbcf9046')]" class="cls-4" x="1667.3" y="669.44" width="231.25" height="216.85"/>
          <polygon  id="cdc7ca27-e7a4-404e-b283-62584dee562a" @click="showWindow('cdc7ca27-e7a4-404e-b283-62584dee562a')" v-bind:class="[returnActivePlaceClass('cdc7ca27-e7a4-404e-b283-62584dee562a')]" class="cls-4" points="1211.03 986.61 1211.03 1197.8 1049.31 1197.8 1009.82 1158.31 1009.82 986.61 1211.03 986.61"/>
          <rect     id="52cef984-e4bc-420e-ac25-85dab32c0677" @click="showWindow('52cef984-e4bc-420e-ac25-85dab32c0677')" v-bind:class="[returnActivePlaceClass('52cef984-e4bc-420e-ac25-85dab32c0677')]" class="cls-4" x="1246.74" y="998.75" width="139.43" height="169.69"/>
          <rect     id="5778d60c-2df4-4e9f-b7a1-77634c6b5ca4" @click="showWindow('5778d60c-2df4-4e9f-b7a1-77634c6b5ca4')" v-bind:class="[returnActivePlaceClass('5778d60c-2df4-4e9f-b7a1-77634c6b5ca4')]" class="cls-4" x="1009.25" y="343.76" width="172.36" height="225.13"/>
          <rect     id="415fec7b-2cda-45ee-b87e-2e6e94ac5310" @click="showWindow('415fec7b-2cda-45ee-b87e-2e6e94ac5310')" v-bind:class="[returnActivePlaceClass('415fec7b-2cda-45ee-b87e-2e6e94ac5310')]" class="cls-4" x="1217.84" y="458.36" width="99.76" height="109.96"/>
          <polygon  id="3be8a9d1-e4d5-4de8-9b72-b7ab413c73ed" @click="showWindow('3be8a9d1-e4d5-4de8-9b72-b7ab413c73ed')" v-bind:class="[returnActivePlaceClass('3be8a9d1-e4d5-4de8-9b72-b7ab413c73ed')]" class="cls-4" points="1519.37 347.5 1519.37 568.32 1319.86 568.32 1319.86 418.52 1317.59 418.52 1317.59 347.5 1519.37 347.5"/>
          <rect     id="1dd861ac-c4b8-46eb-b9c9-764e4a22aba0" @click="showWindow('1dd861ac-c4b8-46eb-b9c9-764e4a22aba0')" v-bind:class="[returnActivePlaceClass('1dd861ac-c4b8-46eb-b9c9-764e4a22aba0')]" class="cls-4" x="1521.64" y="347.5" width="199.51" height="220.82"/>
          <path     id="b3459b68-1b2d-4be7-adc6-61ba712680a2" @click="showWindow('b3459b68-1b2d-4be7-adc6-61ba712680a2')" v-bind:class="[returnActivePlaceClass('b3459b68-1b2d-4be7-adc6-61ba712680a2')]" class="cls-4" d="M2305.32,725.72v475.71H2057.07v-60.65h-90V926.93H1932V891.79h35.06V573.31h132.18V484.44H2156v42.34h47.78v94.08h-6.63v7.94h6.8v34.74h27v41.78h9.29v20.4Z"/>
          <polygon  id="7d802803-2f5d-4a52-bdc0-1c965458c3b3" @click="showWindow('7d802803-2f5d-4a52-bdc0-1c965458c3b3')" v-bind:class="[returnActivePlaceClass('7d802803-2f5d-4a52-bdc0-1c965458c3b3')]" class="cls-4" points="1945.75 416.48 1984.97 416.48 1984.97 437.73 2018.07 437.73 2018.07 367.51 2021.02 367.51 2021.02 352.77 2305.32 352.77 2305.32 632.77 2239.69 632.77 2239.69 620.86 2205.11 620.86 2205.11 526.78 2156.03 526.78 2156.03 467.83 2078.15 467.83 2078.15 474.57 1932 474.57 1932 427.76 1945.75 427.76 1945.75 416.48"/>
          <polygon  id="9cf397e1-4055-49d4-9f58-a4333510ea37" @click="showWindow('9cf397e1-4055-49d4-9f58-a4333510ea37')" v-bind:class="[returnActivePlaceClass('9cf397e1-4055-49d4-9f58-a4333510ea37')]" class="cls-4" points="1809.72 423.05 1809.72 427.76 1929.73 427.76 1929.73 554.49 1758.56 554.49 1758.56 423.05 1809.72 423.05"/>
          <rect     id="53deb496-f9b7-4926-aacf-3076d715ce4f" @click="showWindow('53deb496-f9b7-4926-aacf-3076d715ce4f')" v-bind:class="[returnActivePlaceClass('53deb496-f9b7-4926-aacf-3076d715ce4f')]" class="cls-4" x="1757.43" y="556.76" width="141.81" height="79.92"/>
        </g>
        <g id="stairs">
          <rect class="cls-6" x="697" y="569.04" width="19.06" height="2.24" transform="translate(-196.23 666.58) rotate(-45)"/>
          <rect class="cls-6" x="701.68" y="573.69" width="19.06" height="2.24" transform="translate(-198.14 671.26) rotate(-45)"/>
          <rect class="cls-6" x="692.37" y="564.44" width="19.06" height="2.23" transform="translate(-194.33 661.97) rotate(-45)"/>
          <rect class="cls-6" x="687.75" y="559.75" width="19.06" height="2.24" transform="translate(-192.36 657.33) rotate(-45)"/>
          <rect class="cls-6" x="706.35" y="578.34" width="19.06" height="2.23" transform="translate(-200.06 675.94) rotate(-45)"/>
          <rect class="cls-6" x="710.98" y="583.04" width="19.06" height="2.24" transform="translate(-202.03 680.56) rotate(-45)"/>
          <rect class="cls-6" x="715.61" y="587.64" width="19.06" height="2.23" transform="translate(-203.92 685.18) rotate(-45)"/>
          <rect class="cls-6" x="720.29" y="592.29" width="19.06" height="2.23" transform="translate(-205.84 689.86) rotate(-45)"/>
          <rect class="cls-6" x="727.83" y="518.4" width="2.23" height="124.43" transform="translate(-197.05 685.5) rotate(-45)"/>
          <rect class="cls-6" x="715.97" y="530.31" width="2.23" height="124.43" transform="translate(-208.95 680.6) rotate(-45)"/>
          <rect class="cls-6" x="669.14" y="541.16" width="19.06" height="2.24" transform="translate(-184.67 638.72) rotate(-45)"/>
          <polygon class="cls-7" points="685.98 556.79 693.21 556.79 693.21 556.79 693.21 556.79 693.21 549.56 690.98 549.56 690.98 552.98 683.28 545.29 681.71 546.87 689.4 554.56 685.98 554.56 685.98 556.79"/>
          <rect class="cls-6" x="724.91" y="596.98" width="19.06" height="2.24" transform="translate(-207.81 694.5) rotate(-45)"/>
          <rect class="cls-6" x="729.54" y="601.58" width="19.06" height="2.23" transform="translate(-209.7 699.13) rotate(-45)"/>
          <rect class="cls-6" x="734.22" y="606.23" width="19.06" height="2.23" transform="translate(-211.62 703.81) rotate(-45)"/>
          <rect class="cls-6" x="738.89" y="610.88" width="19.06" height="2.23" transform="translate(-213.54 708.46) rotate(-45)"/>
          <rect class="cls-6" x="743.52" y="615.57" width="19.06" height="2.23" transform="translate(-215.5 713.1) rotate(-45)"/>
          <rect class="cls-6" x="748.15" y="620.17" width="19.06" height="2.24" transform="translate(-217.4 717.74) rotate(-45)"/>
          <rect class="cls-6" x="752.82" y="624.82" width="19.06" height="2.23" transform="translate(-219.32 722.41) rotate(-45)"/>
          <rect class="cls-6" x="757.45" y="629.52" width="19.06" height="2.24" transform="translate(-221.28 727.05) rotate(-45)"/>
          <rect class="cls-6" x="1144.93" y="855.12" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1151.53" y="855.1" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1138.41" y="855.14" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1131.82" y="855.1" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1158.12" y="855.08" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1164.71" y="855.13" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1171.24" y="855.11" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1177.83" y="855.09" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1107.08" y="855.08" width="124.43" height="2.24"/>
          <rect class="cls-6" x="1107.11" y="871.89" width="124.43" height="2.24"/>
          <rect class="cls-6" x="1105.51" y="855.11" width="2.24" height="19.06"/>
          <polygon class="cls-7" points="1122.06 869.74 1127.18 864.62 1127.18 864.62 1127.18 864.62 1122.06 859.51 1120.48 861.09 1122.9 863.51 1112.02 863.51 1112.02 865.74 1122.9 865.74 1120.48 868.15 1122.06 869.74"/>
          <rect class="cls-6" x="1184.42" y="855.14" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1190.95" y="855.12" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1197.54" y="855.1" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1204.14" y="855.08" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1210.73" y="855.13" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1217.25" y="855.11" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1223.85" y="855.09" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1230.44" y="855.14" width="2.24" height="19.06"/>
          <rect class="cls-6" x="709.28" y="556.76" width="19.06" height="2.24" transform="translate(-183.95 671.67) rotate(-45)"/>
          <rect class="cls-6" x="713.96" y="561.41" width="19.06" height="2.24" transform="translate(-185.86 676.35) rotate(-45)"/>
          <rect class="cls-6" x="704.66" y="552.16" width="19.06" height="2.24" transform="translate(-182.05 667.06) rotate(-45)"/>
          <rect class="cls-6" x="700.03" y="547.47" width="19.06" height="2.24" transform="translate(-180.08 662.42) rotate(-45)"/>
          <rect class="cls-6" x="718.63" y="566.06" width="19.06" height="2.23" transform="translate(-187.78 681.02) rotate(-45)"/>
          <rect class="cls-6" x="723.26" y="570.75" width="19.06" height="2.24" transform="translate(-189.74 685.65) rotate(-45)"/>
          <rect class="cls-6" x="727.89" y="575.36" width="19.06" height="2.24" transform="translate(-191.64 690.27) rotate(-45)"/>
          <rect class="cls-6" x="732.57" y="580" width="19.06" height="2.23" transform="translate(-193.56 694.95) rotate(-45)"/>
          <rect class="cls-6" x="740.11" y="506.12" width="2.23" height="124.43" transform="translate(-184.77 690.59) rotate(-45)"/>
          <rect class="cls-6" x="728.25" y="518.03" width="2.23" height="124.43" transform="translate(-196.67 685.69) rotate(-45)"/>
          <rect class="cls-6" x="681.42" y="528.87" width="19.06" height="2.23" transform="translate(-172.39 643.81) rotate(-45)"/>
          <polygon class="cls-7" points="698.26 544.51 705.49 544.51 705.49 544.51 705.49 544.51 705.49 537.28 703.26 537.28 703.26 540.7 695.57 533.01 693.99 534.58 701.68 542.27 698.26 542.27 698.26 544.51"/>
          <rect class="cls-6" x="737.19" y="584.7" width="19.06" height="2.24" transform="translate(-195.52 699.59) rotate(-45)"/>
          <rect class="cls-6" x="741.82" y="589.3" width="19.06" height="2.23" transform="translate(-197.42 704.22) rotate(-45)"/>
          <rect class="cls-6" x="746.5" y="593.95" width="19.06" height="2.23" transform="translate(-199.34 708.9) rotate(-45)"/>
          <rect class="cls-6" x="751.17" y="598.6" width="19.06" height="2.23" transform="translate(-201.26 713.55) rotate(-45)"/>
          <rect class="cls-6" x="755.8" y="603.29" width="19.06" height="2.23" transform="translate(-203.22 718.19) rotate(-45)"/>
          <rect class="cls-6" x="760.43" y="607.89" width="19.06" height="2.24" transform="translate(-205.12 722.82) rotate(-45)"/>
          <rect class="cls-6" x="765.11" y="612.54" width="19.06" height="2.23" transform="translate(-207.03 727.5) rotate(-45)"/>
          <rect class="cls-6" x="769.73" y="617.24" width="19.06" height="2.23" transform="translate(-209 732.13) rotate(-45)"/>
          <rect class="cls-6" x="1145.33" y="675.41" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1151.92" y="675.39" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1138.8" y="675.43" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1132.21" y="675.38" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1158.52" y="675.37" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1165.11" y="675.42" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1171.64" y="675.4" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1178.23" y="675.38" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1107.47" y="675.36" width="124.43" height="2.24"/>
          <rect class="cls-6" x="1107.51" y="692.18" width="124.43" height="2.23"/>
          <rect class="cls-6" x="1105.91" y="675.39" width="2.24" height="19.06"/>
          <polygon class="cls-7" points="1122.46 690.02 1127.57 684.9 1127.57 684.9 1127.57 684.9 1122.46 679.79 1120.88 681.37 1123.3 683.79 1112.42 683.79 1112.42 686.02 1123.3 686.02 1120.88 688.44 1122.46 690.02"/>
          <rect class="cls-6" x="1184.82" y="675.42" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1191.35" y="675.41" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1197.94" y="675.39" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1204.53" y="675.37" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1211.12" y="675.41" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1217.65" y="675.39" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1224.24" y="675.38" width="2.24" height="19.06"/>
          <rect class="cls-6" x="1230.84" y="675.42" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2168.97" y="982.61" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2162.38" y="982.59" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2175.5" y="982.63" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2182.09" y="982.58" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2155.78" y="982.57" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2149.19" y="982.62" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2142.67" y="982.6" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2136.07" y="982.58" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2084.63" y="982.56" width="124.43" height="2.24"/>
          <rect class="cls-6" x="2084.6" y="999.38" width="124.43" height="2.24"/>
          <rect class="cls-6" x="2208.39" y="982.59" width="2.24" height="19.06"/>
          <polygon class="cls-7" points="2194.08 997.22 2188.96 992.11 2188.96 992.11 2188.96 992.11 2194.08 986.99 2195.66 988.57 2193.24 990.99 2204.12 990.99 2204.12 993.22 2193.24 993.22 2195.66 995.64 2194.08 997.22"/>
          <rect class="cls-6" x="2129.48" y="982.63" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2122.95" y="982.61" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2116.36" y="982.59" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2109.77" y="982.57" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2103.18" y="982.61" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2096.65" y="982.6" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2090.06" y="982.58" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2083.46" y="982.62" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2168.97" y="965.24" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2162.38" y="965.22" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2175.5" y="965.26" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2182.09" y="965.21" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2155.78" y="965.2" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2149.19" y="965.25" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2142.67" y="965.23" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2136.07" y="965.21" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2084.63" y="965.2" width="124.43" height="2.24"/>
          <rect class="cls-6" x="2084.6" y="982.01" width="124.43" height="2.23"/>
          <rect class="cls-6" x="2208.39" y="965.22" width="2.24" height="19.06"/>
          <polygon class="cls-7" points="2194.08 979.85 2188.96 974.74 2188.96 974.74 2188.96 974.74 2194.08 969.63 2195.66 971.21 2193.24 973.62 2204.12 973.62 2204.12 975.85 2193.24 975.85 2195.66 978.27 2194.08 979.85"/>
          <rect class="cls-6" x="2129.48" y="965.26" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2122.95" y="965.24" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2116.36" y="965.22" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2109.77" y="965.2" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2103.18" y="965.25" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2096.65" y="965.23" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2090.06" y="965.21" width="2.24" height="19.06"/>
          <rect class="cls-6" x="2083.46" y="965.26" width="2.24" height="19.06"/>
          <rect class="cls-6" x="975.74" y="1224.06" width="24.2" height="1.97" transform="translate(-576.9 1057.3) rotate(-45)"/>
          <rect class="cls-6" x="971.64" y="1219.95" width="24.2" height="1.97" transform="translate(-575.21 1053.23) rotate(-45)"/>
          <rect class="cls-6" x="979.85" y="1228.16" width="24.2" height="1.97" transform="translate(-578.6 1061.41) rotate(-45)"/>
          <rect class="cls-6" x="985.15" y="1224.55" width="1.97" height="29.02" transform="translate(-587.33 1060.34) rotate(-45)"/>
          <rect class="cls-6" x="1000.87" y="1208.83" width="1.97" height="29.02" transform="translate(-571.58 1066.56) rotate(-44.99)"/>
          <rect class="cls-6" x="992.16" y="1240.47" width="24.2" height="1.97" transform="translate(-583.7 1073.73) rotate(-45)"/>
          <polygon class="cls-7" points="1000.59 1231.67 994.18 1231.67 994.18 1231.67 994.18 1231.67 994.18 1238.07 996.15 1238.07 996.15 1235.04 1000.5 1239.39 1001.9 1237.99 997.55 1233.64 1000.59 1233.64 1000.59 1231.67"/>
          <rect class="cls-6" x="1238.59" y="382.36" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1244.39" y="382.36" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1232.78" y="382.36" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1216.36" y="404.58" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1216.36" y="382.36" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1215.37" y="382.36" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1225.88 390.13 1230.4 394.66 1230.4 394.66 1230.4 394.66 1225.88 399.19 1224.48 397.79 1226.63 395.65 1220.48 395.65 1220.48 393.67 1226.63 393.67 1224.48 391.53 1225.88 390.13"/>
          <rect class="cls-6" x="1668.73" y="1153.48" width="2.41" height="29.58"/>
          <rect class="cls-6" x="1661.64" y="1153.48" width="2.41" height="29.58"/>
          <rect class="cls-6" x="1675.82" y="1153.48" width="2.41" height="29.58"/>
          <rect class="cls-6" x="1662.84" y="1180.65" width="35.47" height="2.41"/>
          <rect class="cls-6" x="1662.84" y="1153.48" width="35.47" height="2.41"/>
          <rect class="cls-6" x="1697.11" y="1153.48" width="2.41" height="29.58"/>
          <polygon class="cls-7" points="1686.68 1162.98 1681.15 1168.52 1681.15 1168.52 1681.15 1168.52 1686.68 1174.05 1688.38 1172.35 1685.76 1169.72 1693.28 1169.72 1693.28 1167.31 1685.76 1167.31 1688.38 1164.69 1686.68 1162.98"/>
          <rect class="cls-6" x="1832.43" y="401" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1826.63" y="401" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1838.24" y="401" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1827.62" y="423.22" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1827.62" y="401" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1855.65" y="401" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1847.12 408.77 1842.59 413.3 1842.59 413.3 1842.59 413.3 1847.12 417.83 1848.51 416.43 1846.36 414.29 1852.52 414.29 1852.52 412.31 1846.36 412.31 1848.51 410.17 1847.12 408.77"/>
          <rect class="cls-6" x="2029.42" y="1171.67" width="1.97" height="24.2"/>
          <rect class="cls-6" x="2023.61" y="1171.67" width="1.97" height="24.2"/>
          <rect class="cls-6" x="2035.22" y="1171.67" width="1.97" height="24.2"/>
          <rect class="cls-6" x="2024.6" y="1193.9" width="29.02" height="1.97"/>
          <rect class="cls-6" x="2024.6" y="1171.67" width="29.02" height="1.97"/>
          <rect class="cls-6" x="2052.63" y="1171.67" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="2044.1 1179.45 2039.58 1183.98 2039.58 1183.98 2039.58 1183.98 2044.1 1188.5 2045.49 1187.11 2043.35 1184.96 2049.5 1184.96 2049.5 1182.99 2043.35 1182.99 2045.49 1180.84 2044.1 1179.45"/>
          <rect class="cls-6" x="2244.4" y="640.24" width="24.2" height="1.97"/>
          <rect class="cls-6" x="2244.4" y="634.43" width="24.2" height="1.97"/>
          <rect class="cls-6" x="2244.4" y="646.04" width="24.2" height="1.97"/>
          <rect class="cls-6" x="2244.4" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-6" x="2266.63" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-6" x="2244.4" y="663.45" width="24.2" height="1.97"/>
          <polygon class="cls-7" points="2260.83 654.92 2256.3 650.39 2256.3 650.39 2256.3 650.39 2251.77 654.92 2253.17 656.31 2255.31 654.17 2255.31 660.32 2257.29 660.32 2257.29 654.17 2259.43 656.31 2260.83 654.92"/>
          <rect class="cls-6" x="1983.27" y="422.82" width="16.25" height="1.33"/>
          <rect class="cls-6" x="1983.27" y="418.93" width="16.25" height="1.33"/>
          <rect class="cls-6" x="1983.27" y="426.72" width="16.25" height="1.33"/>
          <rect class="cls-6" x="1983.27" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-6" x="1998.2" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-6" x="1983.27" y="438.41" width="16.25" height="1.33"/>
          <polygon class="cls-7" points="1994.3 432.69 1991.26 429.64 1991.26 429.64 1991.26 429.64 1988.22 432.69 1989.16 433.62 1990.6 432.18 1990.6 436.31 1991.92 436.31 1991.92 432.18 1993.37 433.62 1994.3 432.69"/>
          <rect class="cls-6" x="643.97" y="393.32" width="1.65" height="20.21"/>
          <rect class="cls-6" x="639.12" y="393.32" width="1.65" height="20.21"/>
          <rect class="cls-6" x="648.81" y="393.32" width="1.65" height="20.21"/>
          <rect class="cls-6" x="639.94" y="411.88" width="24.24" height="1.65"/>
          <rect class="cls-6" x="639.94" y="393.32" width="24.24" height="1.65"/>
          <rect class="cls-6" x="663.35" y="393.32" width="1.65" height="20.21"/>
          <polygon class="cls-7" points="656.23 399.81 652.45 403.6 652.45 403.6 652.45 403.6 656.23 407.38 657.39 406.21 655.6 404.42 660.74 404.42 660.74 402.77 655.6 402.77 657.39 400.98 656.23 399.81"/>
          <rect class="cls-6" x="384.05" y="629.61" width="25.11" height="2.05" transform="translate(-326.88 452.99) rotate(-44.04)"/>
          <rect class="cls-6" x="379.86" y="625.28" width="25.11" height="2.05" transform="translate(-325.05 448.87) rotate(-44.04)"/>
          <rect class="cls-6" x="388.23" y="633.93" width="25.11" height="2.05" transform="translate(-328.72 457.13) rotate(-44.04)"/>
          <rect class="cls-6" x="393.57" y="630.08" width="2.05" height="30.11" transform="translate(-337.53 455.66) rotate(-44.04)"/>
          <rect class="cls-6" x="410.15" y="614.05" width="2.05" height="30.11" transform="translate(-321.74 462.75) rotate(-44.04)"/>
          <rect class="cls-6" x="400.79" y="646.92" width="25.11" height="2.05" transform="translate(-334.22 469.51) rotate(-44.04)"/>
          <polygon class="cls-7" points="409.71 637.73 403.06 637.62 403.06 637.62 403.06 637.62 402.95 644.26 405 644.29 405.05 641.14 409.49 645.73 410.96 644.31 406.52 639.72 409.67 639.77 409.71 637.73"/>
          <rect class="cls-6" x="996.88" y="1202.92" width="24.2" height="1.97" transform="translate(-555.77 1066.07) rotate(-45)"/>
          <rect class="cls-6" x="992.77" y="1198.82" width="24.2" height="1.97" transform="translate(-554.07 1061.96) rotate(-45)"/>
          <rect class="cls-6" x="1000.98" y="1207.03" width="24.2" height="1.97" transform="translate(-557.47 1070.18) rotate(-45)"/>
          <rect class="cls-6" x="1006.29" y="1203.41" width="1.97" height="29.02" transform="translate(-566.16 1068.8) rotate(-44.99)"/>
          <rect class="cls-6" x="1022" y="1187.7" width="1.97" height="29.02" transform="translate(-550.46 1075.48) rotate(-45)"/>
          <rect class="cls-6" x="1013.29" y="1219.34" width="24.2" height="1.97" transform="translate(-562.57 1082.48) rotate(-45)"/>
          <polygon class="cls-7" points="1015.97 1217.51 1022.38 1217.51 1022.33 1217.47 1022.38 1217.51 1022.38 1211.11 1020.4 1211.11 1020.37 1214.11 1016.06 1209.8 1014.66 1211.19 1018.97 1215.5 1015.97 1215.54 1015.97 1217.51"/>
          <rect class="cls-6" x="1238.59" y="352.64" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1244.39" y="352.64" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1232.78" y="352.64" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1216.36" y="374.87" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1216.36" y="352.64" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1215.37" y="352.64" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1225.01 369.42 1220.48 364.89 1220.54 364.89 1220.48 364.89 1225.01 360.36 1226.4 361.76 1224.31 363.9 1230.4 363.9 1230.4 365.88 1224.31 365.88 1226.4 368.02 1225.01 369.42"/>
          <rect class="cls-6" x="1668.73" y="1117.16" width="2.41" height="29.58"/>
          <rect class="cls-6" x="1661.64" y="1117.16" width="2.41" height="29.58"/>
          <rect class="cls-6" x="1675.82" y="1117.16" width="2.41" height="29.58"/>
          <rect class="cls-6" x="1662.84" y="1144.33" width="35.47" height="2.41"/>
          <rect class="cls-6" x="1662.84" y="1117.16" width="35.47" height="2.41"/>
          <rect class="cls-6" x="1697.11" y="1117.16" width="2.41" height="29.58"/>
          <polygon class="cls-7" points="1687.74 1137.66 1693.28 1132.13 1693.21 1132.13 1693.28 1132.13 1687.74 1126.59 1686.04 1128.3 1688.6 1130.92 1681.15 1130.92 1681.15 1133.33 1688.6 1133.33 1686.04 1135.96 1687.74 1137.66"/>
          <rect class="cls-6" x="1832.43" y="371.28" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1826.63" y="371.28" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1838.24" y="371.28" width="1.97" height="24.2"/>
          <rect class="cls-6" x="1827.62" y="393.51" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1827.62" y="371.28" width="29.02" height="1.97"/>
          <rect class="cls-6" x="1855.65" y="371.28" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="1847.99 388.06 1852.52 383.53 1852.46 383.53 1852.52 383.53 1847.99 379 1846.6 380.39 1848.68 382.54 1842.59 382.54 1842.59 384.52 1848.68 384.52 1846.6 386.66 1847.99 388.06"/>
          <rect class="cls-6" x="2029.42" y="1141.96" width="1.97" height="24.2"/>
          <rect class="cls-6" x="2023.61" y="1141.96" width="1.97" height="24.2"/>
          <rect class="cls-6" x="2035.22" y="1141.96" width="1.97" height="24.2"/>
          <rect class="cls-6" x="2024.6" y="1164.19" width="29.02" height="1.97"/>
          <rect class="cls-6" x="2024.6" y="1141.96" width="29.02" height="1.97"/>
          <rect class="cls-6" x="2052.63" y="1141.96" width="1.97" height="24.2"/>
          <polygon class="cls-7" points="2044.97 1158.73 2049.5 1154.21 2049.44 1154.21 2049.5 1154.21 2044.97 1149.68 2043.58 1151.07 2045.67 1153.22 2039.58 1153.22 2039.58 1155.19 2045.67 1155.19 2043.58 1157.34 2044.97 1158.73"/>
          <rect class="cls-6" x="2274.12" y="640.24" width="24.2" height="1.97"/>
          <rect class="cls-6" x="2274.12" y="634.43" width="24.2" height="1.97"/>
          <rect class="cls-6" x="2274.12" y="646.04" width="24.2" height="1.97"/>
          <rect class="cls-6" x="2274.12" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-6" x="2296.34" y="635.42" width="1.97" height="29.02"/>
          <rect class="cls-6" x="2274.12" y="663.45" width="24.2" height="1.97"/>
          <polygon class="cls-7" points="2281.54 655.79 2286.07 660.32 2286.07 660.26 2286.07 660.32 2290.6 655.79 2289.2 654.4 2287.06 656.49 2287.06 650.39 2285.08 650.39 2285.08 656.49 2282.94 654.4 2281.54 655.79"/>
          <rect class="cls-6" x="2003.22" y="422.82" width="16.25" height="1.33"/>
          <rect class="cls-6" x="2003.22" y="418.93" width="16.25" height="1.33"/>
          <rect class="cls-6" x="2003.22" y="426.72" width="16.25" height="1.33"/>
          <rect class="cls-6" x="2003.22" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-6" x="2018.15" y="419.59" width="1.33" height="19.49"/>
          <rect class="cls-6" x="2003.22" y="438.41" width="16.25" height="1.33"/>
          <polygon class="cls-7" points="2008.21 433.27 2011.25 436.31 2011.25 436.27 2011.25 436.31 2014.29 433.27 2013.36 432.33 2011.92 433.74 2011.92 429.64 2010.59 429.64 2010.59 433.74 2009.15 432.33 2008.21 433.27"/>
          <rect class="cls-6" x="643.97" y="368.5" width="1.65" height="20.21"/>
          <rect class="cls-6" x="639.12" y="368.5" width="1.65" height="20.21"/>
          <rect class="cls-6" x="648.81" y="368.5" width="1.65" height="20.21"/>
          <rect class="cls-6" x="639.94" y="387.07" width="24.24" height="1.65"/>
          <rect class="cls-6" x="639.94" y="368.5" width="24.24" height="1.65"/>
          <rect class="cls-6" x="663.35" y="368.5" width="1.65" height="20.21"/>
          <polygon class="cls-7" points="656.96 382.51 660.74 378.73 660.69 378.73 660.74 378.73 656.96 374.95 655.79 376.11 657.54 377.91 652.45 377.91 652.45 379.56 657.54 379.56 655.79 381.35 656.96 382.51"/>
          <rect class="cls-6" x="406.34" y="608.05" width="25.11" height="2.05" transform="translate(-305.63 462.43) rotate(-44.04)"/>
          <rect class="cls-6" x="402.15" y="603.72" width="25.11" height="2.05" transform="translate(-303.8 458.3) rotate(-44.04)"/>
          <rect class="cls-6" x="410.53" y="612.37" width="25.11" height="2.05" transform="translate(-307.46 466.56) rotate(-44.04)"/>
          <rect class="cls-6" x="415.86" y="608.52" width="2.05" height="30.11" transform="translate(-316.27 465.07) rotate(-44.04)"/>
          <rect class="cls-6" x="432.44" y="592.49" width="2.05" height="30.11" transform="translate(-300.48 472.14) rotate(-44.04)"/>
          <rect class="cls-6" x="423.09" y="625.36" width="25.11" height="2.05" transform="translate(-312.96 478.95) rotate(-44.04)"/>
          <polygon class="cls-7" points="425.92 623.3 432.56 623.42 432.52 623.37 432.56 623.42 432.67 616.77 430.63 616.74 430.53 619.85 426.14 615.3 424.67 616.73 429.06 621.27 425.95 621.26 425.92 623.3"/>
        </g>
        <g id="input">
          <text class="cls-8" x="511.13" y="568.96" width="149.61" height="15.06">{{ getNameOfPlace('899727de-e87b-4414-8c95-e6b210db1214') }} </text>
          <text class="cls-8" x="511.13" y="547.71" width="149.61" height="15.06">{{ getNumberOfPlace('899727de-e87b-4414-8c95-e6b210db1214') }} </text>
          <text class="cls-8" x="511.13" y="527.46" width="149.61" height="15.06">{{ getAreaOfPlace('899727de-e87b-4414-8c95-e6b210db1214') }}  </text>
          <text class="cls-8" x="779.43" y="418.79" width="201.17" height="15.06">{{ getNameOfPlace('faa2f3cd-f21a-4047-9c94-0e66a6201ed1') }} </text>
          <text class="cls-8" x="779.43" y="397.54" width="201.17" height="15.06">{{ getNumberOfPlace('faa2f3cd-f21a-4047-9c94-0e66a6201ed1') }} </text>
          <text class="cls-8" x="779.43" y="377.29" width="201.17" height="15.06">{{ getAreaOfPlace('faa2f3cd-f21a-4047-9c94-0e66a6201ed1') }}  </text>
          <text class="cls-8" x="428.67" y="825.66" width="201.17" height="15.06">{{ getNameOfPlace('b4c2ec4c-afbe-498b-af61-a3d0ffeda112') }} </text>
          <text class="cls-8" x="428.67" y="804.41" width="201.17" height="15.06">{{ getNumberOfPlace('b4c2ec4c-afbe-498b-af61-a3d0ffeda112') }} </text>
          <text class="cls-8" x="428.67" y="784.16" width="201.17" height="15.06">{{ getAreaOfPlace('b4c2ec4c-afbe-498b-af61-a3d0ffeda112') }}  </text>
          <text class="cls-8" x="643.16" y="1072.61" width="201.17" height="15.06">{{ getNameOfPlace('ecec6698-4e83-4b9d-b3da-89d064cd14ed') }} </text>
          <text class="cls-8" x="643.16" y="1051.36" width="201.17" height="15.06">{{ getNumberOfPlace('ecec6698-4e83-4b9d-b3da-89d064cd14ed') }} </text>
          <text class="cls-8" x="643.16" y="1031.11" width="201.17" height="15.06">{{ getAreaOfPlace('ecec6698-4e83-4b9d-b3da-89d064cd14ed') }}  </text>
          <text class="cls-8" x="723.49" y="791.09" width="201.17" height="15.06">{{ getNameOfPlace('de045a5f-ec73-4085-9941-bafd37eb20ad') }} </text>
          <text class="cls-8" x="723.49" y="769.84" width="201.17" height="15.06">{{ getNumberOfPlace('de045a5f-ec73-4085-9941-bafd37eb20ad') }} </text>
          <text class="cls-8" x="723.49" y="749.59" width="201.17" height="15.06">{{ getAreaOfPlace('de045a5f-ec73-4085-9941-bafd37eb20ad') }}  </text>
          <text class="cls-8" x="1264.62" y="762.81" width="201.17" height="15.06">{{ getNameOfPlace('2f48be49-ffe3-42ce-9b2b-b8183d09fb3f') }} </text>
          <text class="cls-8" x="1264.62" y="741.56" width="201.17" height="15.06">{{ getNumberOfPlace('2f48be49-ffe3-42ce-9b2b-b8183d09fb3f') }} </text>
          <text class="cls-8" x="1264.62" y="721.31" width="201.17" height="15.06">{{ getAreaOfPlace('2f48be49-ffe3-42ce-9b2b-b8183d09fb3f') }}  </text>
          <text class="cls-8" x="2022.37" y="842.73" width="201.17" height="15.06">{{ getNameOfPlace('b3459b68-1b2d-4be7-adc6-61ba712680a2') }} </text>
          <text class="cls-8" x="2022.37" y="821.48" width="201.17" height="15.06">{{ getNumberOfPlace('b3459b68-1b2d-4be7-adc6-61ba712680a2') }} </text>
          <text class="cls-8" x="2022.37" y="801.23" width="201.17" height="15.06">{{ getAreaOfPlace('b3459b68-1b2d-4be7-adc6-61ba712680a2') }}  </text>
          <text class="cls-8" x="1586.63" y="1057.38" width="122.94" height="15.06">{{ getNameOfPlace('b217df75-b614-4d16-9090-976ecb3aa697') }} </text>
          <text class="cls-8" x="1586.63" y="1036.13" width="122.94" height="15.06">{{ getNumberOfPlace('b217df75-b614-4d16-9090-976ecb3aa697') }} </text>
          <text class="cls-8" x="1586.63" y="1015.88" width="122.94" height="15.06">{{ getAreaOfPlace('b217df75-b614-4d16-9090-976ecb3aa697') }}  </text>
          <text class="cls-8" x="1230.87" y="944.54" width="142.72" height="15.06">{{ getNameOfPlace('ec9c7e8a-06b5-45f8-82ef-cd0247b4cd56') }} </text>
          <text class="cls-8" x="1230.87" y="923.29" width="142.72" height="15.06">{{ getNumberOfPlace('ec9c7e8a-06b5-45f8-82ef-cd0247b4cd56') }} </text>
          <text class="cls-8" x="1230.87" y="903.04" width="142.72" height="15.06">{{ getAreaOfPlace('ec9c7e8a-06b5-45f8-82ef-cd0247b4cd56') }}  </text>
          <text class="cls-8" x="2040.64" y="412.41" width="142.72" height="15.06">{{ getNameOfPlace('7d802803-2f5d-4a52-bdc0-1c965458c3b3') }} </text>
          <text class="cls-8" x="2040.64" y="391.16" width="142.72" height="15.06">{{ getNumberOfPlace('7d802803-2f5d-4a52-bdc0-1c965458c3b3') }} </text>
          <text class="cls-8" x="2040.64" y="370.91" width="142.72" height="15.06">{{ getAreaOfPlace('7d802803-2f5d-4a52-bdc0-1c965458c3b3') }}  </text>
          <text class="cls-8" x="718.82" y="858.9" width="95.38" height="8.84">{{ getNameOfPlace('479ad738-b738-4557-b0c8-f3217e1a12f3') }} </text>
          <text class="cls-8" x="718.82" y="846.42" width="95.38" height="8.84">{{ getNumberOfPlace('479ad738-b738-4557-b0c8-f3217e1a12f3') }} </text>
          <text class="cls-8" x="718.82" y="834.54" width="95.38" height="8.84">{{ getAreaOfPlace('479ad738-b738-4557-b0c8-f3217e1a12f3') }}  </text>
          <text class="cls-8" x="876.98" y="866.65" width="95.38" height="8.84">{{ getNameOfPlace('dba3ec84-bf49-4ffd-9eaa-8a587e1c1137') }} </text>
          <text class="cls-8" x="876.98" y="854.18" width="95.38" height="8.84">{{ getNumberOfPlace('dba3ec84-bf49-4ffd-9eaa-8a587e1c1137') }} </text>
          <text class="cls-8" x="876.98" y="842.3" width="95.38" height="8.84">{{ getAreaOfPlace('dba3ec84-bf49-4ffd-9eaa-8a587e1c1137') }}  </text>
          <text class="cls-8" x="749.63" y="909.87" width="95.38" height="8.84">{{ getNameOfPlace('bf1adb53-5ddd-441c-8349-75f9fe9db158') }} </text>
          <text class="cls-8" x="749.63" y="897.4" width="95.38" height="8.84">{{ getNumberOfPlace('bf1adb53-5ddd-441c-8349-75f9fe9db158') }} </text>
          <text class="cls-8" x="749.63" y="885.51" width="95.38" height="8.84">{{ getAreaOfPlace('bf1adb53-5ddd-441c-8349-75f9fe9db158') }}  </text>
          <text class="cls-8" x="918.49" y="705.54" width="65.25" height="8.84">{{ getNameOfPlace('005b56e5-ad68-4f8f-857e-1c616863fa04') }} </text>
          <text class="cls-8" x="918.49" y="693.06" width="65.25" height="8.84">{{ getNumberOfPlace('005b56e5-ad68-4f8f-857e-1c616863fa04') }} </text>
          <text class="cls-8" x="918.49" y="681.18" width="65.25" height="8.84">{{ getAreaOfPlace('005b56e5-ad68-4f8f-857e-1c616863fa04') }}  </text>
          <text class="cls-8" x="909.48" y="658.66" width="97.51" height="8.84">{{ getNameOfPlace('4c52ea0a-09ba-4014-9b0c-78232eb5a134') }} </text>
          <text class="cls-8" x="909.48" y="646.19" width="97.51" height="8.84">{{ getNumberOfPlace('4c52ea0a-09ba-4014-9b0c-78232eb5a134') }} </text>
          <text class="cls-8" x="909.48" y="634.31" width="97.51" height="8.84">{{ getAreaOfPlace('4c52ea0a-09ba-4014-9b0c-78232eb5a134') }}  </text>
          <text class="cls-8" x="1033.95" y="645.9" width="97.51" height="8.84">{{ getNameOfPlace('3b91f3f0-5554-463c-acae-8757afb3960a') }} </text>
          <text class="cls-8" x="1033.95" y="633.43" width="97.51" height="8.84">{{ getNumberOfPlace('3b91f3f0-5554-463c-acae-8757afb3960a') }} </text>
          <text class="cls-8" x="1033.95" y="621.55" width="97.51" height="8.84">{{ getAreaOfPlace('3b91f3f0-5554-463c-acae-8757afb3960a') }}  </text>
          <text class="cls-8" x="1018.32" y="772.85" width="97.51" height="8.84">{{ getNameOfPlace('6ce12f53-0a2f-40f1-8c97-68031d03a9aa') }} </text>
          <text class="cls-8" x="1018.32" y="760.37" width="97.51" height="8.84">{{ getNumberOfPlace('6ce12f53-0a2f-40f1-8c97-68031d03a9aa') }} </text>
          <text class="cls-8" x="1018.32" y="748.49" width="97.51" height="8.84">{{ getAreaOfPlace('6ce12f53-0a2f-40f1-8c97-68031d03a9aa') }}  </text>
          <text class="cls-8" x="1120.54" y="836.27" width="97.51" height="8.84">{{ getNameOfPlace('7bed48dd-751d-4614-93fd-f7f92f25cd19') }} </text>
          <text class="cls-8" x="1120.54" y="823.8" width="97.51" height="8.84">{{ getNumberOfPlace('7bed48dd-751d-4614-93fd-f7f92f25cd19') }} </text>
          <text class="cls-8" x="1120.54" y="811.91" width="97.51" height="8.84">{{ getAreaOfPlace('7bed48dd-751d-4614-93fd-f7f92f25cd19') }}  </text>
          <text class="cls-8" x="1767.74" y="575.04" width="37.76" height="8.84">{{ getNameOfPlace('53deb496-f9b7-4926-aacf-3076d715ce4f') }} </text>
          <text class="cls-8" x="1767.74" y="608.5" width="37.76" height="8.84">{{ getNumberOfPlace('53deb496-f9b7-4926-aacf-3076d715ce4f') }} </text>
          <text class="cls-8" x="1813.56" y="608.5" width="37.76" height="8.84">{{ getAreaOfPlace('53deb496-f9b7-4926-aacf-3076d715ce4f') }}  </text>
          <text class="cls-8" x="1865.56" y="608.5" width="37.76" height="8.84">{{ getNameOfPlace('53deb496-f9b7-4926-aacf-3076d715ce4f') }} </text>
          <text class="cls-8" x="1861.48" y="570.62" width="37.76" height="8.84">{{ getNumberOfPlace('53deb496-f9b7-4926-aacf-3076d715ce4f') }} </text>
        </g>
      </svg>
    </SvgPanZoom>

    <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение № {{ correctRenter.place }}</h3>

        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Номер помещения(БТИ):</td>
            <td>{{correctRenter.name}}</td>
          </tr>
          <tr>
            <td>Номер помещения:</td>
            <td>{{correctRenter.place}}</td>
          </tr>
          <tr>
            <td>Площадь помещения:</td>
            <td>{{correctRenter.area}}</td>
          </tr>
          <tr>
            <td>Тип помещения</td>
            <td>{{ placesType() }}</td>
          </tr>
          <tr>
            <td>Статус</td>
            <td>{{ statusRenter(correctRenter.status) }}</td>
          </tr>
          <tr>
            <td><span class="font-weight-bold">Арендатор</span></td>
            <td></td>
          </tr>
          <tr>
            <td>Наименование</td>
            <td>{{correctRenter.renter}}</td>
          </tr>

          <tr>
            <td>Тип</td>
            <td>{{ typeRenter(correctRenter.renter_type) }}</td>
          </tr>

          <tr>
            <td>Период</td>
            <td>{{ returnCorrectDate }}</td>
          </tr>

          <tr v-for="item in correctRenter.doc_number">
            <td><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></td>
            <td></td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (основная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Базовая аренда</td>
            <td>{{ correctRenter.price_base }}</td>
          </tr>

          <tr>
            <td>Переменная</td>
            <td>{{ correctRenter.price_var }}</td>
          </tr>

          <tr>
            <td>Эксплатыционная</td>
            <td>{{ correctRenter.price_ekp }}</td>
          </tr>

          <tr>
            <td class="font-weight-bold">Стоимость аренды (дополнительная)</td>
            <td></td>
          </tr>

          <tr>
            <td>Маркетинговый сбор</td>
            <td>{{ correctRenter.market }}</td>
          </tr>

          <tr>
            <td>Процент с продаж</td>
            <td>{{ correctRenter.percentPay }}</td>
          </tr>

          <tr>
            <td>Доп доход</td>
            <td>{{ correctRenter.additional_pay }}</td>
          </tr>

          </tbody>
        </table>


        <button v-if="userRole === 'admin'" type="button" class="btn btn-success d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" id="renterChange" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="../../assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Номер помещения (БТИ)</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.name">
            </div>

            <div class="form-group">
              <small class="text-secondary">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

            <div class="form-group">
              <small class="text-secondary">Тип помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.placesType">
                  <option v-for="item in placesTypes" :value="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Площадь помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                     v-model="correctRenter.area">
            </div>

            <div class="form-group">
              <small class="text-secondary">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Отображать на плане</h3>

        <div class="row">
          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlane">
                </div>
              </div>
              <div class="form-control">
                <small>Номер помещения</small>
              </div>
            </div>

            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneArea">
                </div>
              </div>
              <div class="form-control">
                <small>Площадь помещения</small>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="input-group mb-3 mt-4">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input"
                         v-model="correctRenter.showOnPlaneCompanyName">
                </div>
              </div>
              <div class="form-control">
                <small>Название компании</small>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru"
                              v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

            <!--<div class="form-group">-->
            <!--<small class="text-secondary">Договор номер</small>-->
            <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"-->
            <!--v-model="correctRenter.doc_number">-->
            <!--</div>-->
          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Тип арендатора</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.renter_type">
                  <option v-for="item in rentersType" :value="item.id">{{ item.translate }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="../../assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

        <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
          <tbody>
          <tr v-for="item in correctRenter.doc_number">
            <td>{{ item.name }}</td>
            <td>
              <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <div class="form-group">
              <small class="text-secondary">Эксплуатационная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                     v-model="correctRenter.price_ekp">
            </div>
          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Условная еденица</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse"
                       v-model="correctRenter.YEvalue" placeholder="введите курс">
              </div>
            </div>

            <div class="form-group">
              <small class="text-secondary">Переменная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                     v-model="correctRenter.price_var">
            </div>
          </div>
        </div>

        <h3 class="mt-3">Стоимость (дополнительная)
          <small>руб/месяц</small>
        </h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group wrap-button-modal ml-auto mr-auto">
              <small class="text-secondary">Период</small>
              <datepicker :minimumView="'month'" :maximumView="'month'" :format="'MM.yyyy'"
                          :input-class="'form-control'" :language="ru"
                          v-model="correctRenter.infoDate"></datepicker>
            </div>

            <div class="form-group">
              <small class="text-secondary">доп доход</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="доп доход"
                     v-model="correctRenter.additional_pay">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Процент с продаж</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Процент с продаж"
                     v-model="correctRenter.percentPay">
            </div>

            <div class="form-group">
              <small class="text-secondary">Маркетинговый сбор</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Маркетинговый сбор"
                     v-model="correctRenter.market">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-success d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>

  </div>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "floor_outline_2",
    data() {
      return {
        renters: [],
        correctRenter: {},
        ru,
        rentersType: [],
        userRole: null,
        placesTypes: [],
        places: []
      }
    },
    components: {
      Datepicker,
      SvgPanZoom
    },
    mounted() {
      this.getAllRenters();
      this.rentersTypeMethod();
      this.getUserRole();
      this.getPlacesType();
      this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
        this.$set(this, 'places', res.body.data);
      })
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    methods: {
      placesType() {
        const correctPlaces = this.places.find(x => {
          return x.id === Number(this.correctRenter.placesType)
        })

        if (correctPlaces) return correctPlaces.name
      },
      deleteDoc(id) {
        const index = this.correctRenter.doc_number.findIndex(x => {
          return x.id === id
        });

        this.correctRenter.doc_number.splice(index, 1);
      },
      b64DecodeUnicode(str) {
        return decodeURIComponent(Array.prototype.map.call(atob(str), function (c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
        }).join(''));
      },
      downloadDoc(id) {
        window.location.replace("http://shuka.f-bc.ru:3030/" + id);
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://shuka.f-bc.ru:3030/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      getNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.place
      },
      getAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.area
      },
      getNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.renter
      },
      showNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlane
        }
      },
      showAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneArea
        }
      },
      showNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneCompanyName
        }
      },
      getPlacesType() {
        this.$http.get('http://shuka.f-bc.ru:3030/places').then(res => {
          this.$set(this, 'placesTypes', res.body.data);
        })
      },
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      rentersTypeMethod() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters-type').then(res => {
          this.$set(this, 'rentersType', res.body.data);
        })
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      returnActivePlaceClass(id) {
        let defaultClass = 'free';

        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          if (correctRenter.status === 'busy') {
            defaultClass = 'busy'
          } else if (correctRenter.status === 'reserve') {
            defaultClass = 'reserve'
          }
        }

        return defaultClass;
      },
      getAllRenters() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters?floor=' + this.$route.params.floorId).then(res => {
          res.body.forEach(item => {
            item.doc_number = JSON.parse(item.doc_number)
          });
          this.$set(this, 'renters', res.body);
        })

        this.$http.get('http://shuka.f-bc.ru:3030/market?floor=' + this.$route.params.floorId + '&$limit=1000').then(res => {
          this.$root.$emit('getFloorStatistic', res.body);
        })
      },
      showWindow(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          this.correctRenter = Object.assign({}, this.correctRenter, correctRenter);
        } else {
          this.$set(this, 'correctRenter', {});
          this.$set(this.correctRenter, 'image_id', id);
        }

        this.$http.get('http://shuka.f-bc.ru:3030/market?place_id=' + this.correctRenter.name + '&date=' + moment().format('MM.YYYY')).then(res => {
          if (res.body[0]) {
            const data = res.body[0];

            this.correctRenter = Object.assign({}, this.correctRenter, {
              infoDate: moment('01.' + data.date).format('DD.MM.YYYY'),
              additional_pay: data.additional_pay,
              percentPay: data.percentPay,
              market: data.market,
              YEuse: data.YEuse,
              YEvalue: data.YEvalue
            });
          }

          this.$modal.show('renter');
        })
      },
      saveRenter() {
        let request;

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          this.$root.$emit('updateRenters');
          this.getAllRenters();
        })
      },
      async createRenter() {
        await this.$http.post('http://shuka.f-bc.ru:3030/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.floorId,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse
        })
      },
      async updaterenter() {
        await this.$http.patch('http://shuka.f-bc.ru:3030/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base || null,
          price_var: this.correctRenter.price_var || null,
          price_ekp: this.correctRenter.price_ekp || null,
          area: Number(this.correctRenter.area) || null,
          floor: this.$route.params.floorId,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      }
    }
  }
</script>

<style scoped>
  .cls-1 {
    fill: #d3d8d8;
  }

  .cls-1, .cls-2, .cls-3, .cls-7 {
    fill-rule: evenodd;
  }

  .cls-2, .cls-5 {
    fill: #67777d;
  }

  .cls-2, .cls-3 {
    stroke: #d3d8d8;
    stroke-miterlimit: 22.93;
    stroke-width: 7.09px;
  }

  .cls-3 {
    fill: #fff;
  }

  .cls-6, .cls-7 {
    fill: #000003;
  }

</style>