<template>
  <div class="select-floor__content w-75 text-center ml-auto mr-auto mt-5">
    <span>Общая статистика по торгово-развлекательному комплексу</span>

    <div class="line-wrap mt-5">
      <div class="line w-100 d-flex">
        <div class="line__first" style="width: 20%"></div>
        <div class="line__second" style="width: 10%"></div>
      </div>

      <div class="w-100 d-flex justify-content-between mt-2">
        <span>Занято площадей: {{ generalStatistics.busy }}</span>
        <span>Свободно площадей: {{ generalStatistics.free }}</span>
        <span>В резерве: {{ generalStatistics.reserved }}</span>
      </div>
    </div>

    <div class="line-wrap mt-5">
      <div class="line w-100 d-flex">
        <div class="line__first" style="width: 50%"></div>
        <div class="line__second" style="width: 40%"></div>
      </div>

      <div class="w-100 d-flex justify-content-between mt-2">
        <span>Якорные (РН): {{ generalStatistics.busy }}</span>
        <span>Стратегические: {{ generalStatistics.free }}</span>
        <span>Внешние: {{ generalStatistics.reserved }}</span>
      </div>
    </div>

    <div class="line-wrap mt-5">
      <div class="line w-100 d-flex">
        <div class="line__first" style="width: 30%"></div>
        <div class="line__second" style="width: 40%"></div>
      </div>

      <div class="w-100 d-flex justify-content-between mt-2">
        <span>Свободные пом. до 100 м²: {{ generalStatistics.busy }}</span>
        <span>Свободные пом. от 500 м²: {{ generalStatistics.free }}</span>
        <span>Свободные пом. от 1500 м²: {{ generalStatistics.reserved }}</span>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "statistic-full",
    data () {
      return {
        floors: [],
        activeFloor: null,
        sum: 10000,
        generalStatistics: {
          busy: 40,
          free: 20,
          reserved: 10
        },
        priceLease: {

        }
      }
    }
  }
</script>

<style scoped>

</style>