<template>
  <div>
    <div v-if="loading">
      load
    </div>
    <div v-else class="row">
      <div class="select-floor col-12 col-lg-8 col-xl-8 m-0 p-0">
        <div class="d-flex align-items-center justify-content-center select-floor__wrap">
          <span class="d-block mr-3">Выберите этаж</span>
          <div class="select-floor__floor d-flex">
            <div class="select-floor__floor__item" v-bind:class="{ 'active': $route.name === 'admin-state' }" @click="$router.push({ name: 'admin-state' })">
              <img src="../assets/icon-sh.svg" alt="">
            </div>
            <div v-for="item in floors" class="select-floor__floor__item" v-bind:class="{ 'active': $route.name === 'statistic-floor' && Number($route.params.floorId) === item.id }" @click="$router.push({ name: 'statistic-floor', params: { floorId: item.id } })">
              {{ item.number }}
            </div>

            <button type="button" class="btn btn-success" @click="$router.push({ name: 'table-floor', params: { id: $route.params.floorId } })">
              <span>К таблице этажа</span>
            </button>

          </div>
        </div>
        <div class="select-floor__content text-center ml-auto mr-auto mt-5">

					<component v-bind:is="'floor_outline_' + this.$route.params.floorId"></component>

          <div class="bottom_line">
            <ul>
              <li><span class="marker"></span> Свободные площади</li>
              <li><span class="marker"></span> Занятые площади</li>
              <li><span class="marker"></span> Резерв</li>
            </ul>
          </div>

        </div>
      </div>
      <div class="main-nav col-12 col-lg-4 col-xl-4 m-0 p-0">

        <div class="main-nav__first-level">
          <div class="d-flex align-items-center h-100">
            <div class="main-nav__profile ml-5">
              <img src="../assets/logo.svg" alt="" class="logo">
              <img src="../assets/profile.svg" alt="" @click="$router.push({ name: 'profile-page' })" class="profile ml-5">
            </div>
          </div>
        </div>

        <div class="main-nav__second-level pl-5 pt-3 pb-3">

          <div class="title">Общий доход от аренды</div>
          <div class="profit">{{ sum }} руб</div>

          <div class="d-flex align-items-center">
            <datepicker :language="ru" :format="'MMMM yyyy'" :minimumView="'month'" :maximumView="'month'" v-model="mainDate"></datepicker>
            <span class="ml-3 d-block change-exel" @click="createExel()">Сформировать файл</span>
            <button type="button" @click="download()" v-show="showLink" class="btn btn-dark ml-3">Скачать</button>
          </div>
        </div>

        <div class="main-nav__third-level pl-5">
          <span class="main-nav__third-level__title d-block pt-3">План {{ activeFloor.number }} этажа</span>

          <button v-for="item in docs" type="button" class="btn btn-success my-2 mr-2" @click="downloadDoc(item)">Скачать план этажа в {{ item.type }}</button>

          <div class="mt-3">
            <span class="main-nav__third-level__title d-block pt-3">План {{ activeFloor.number }} этажа</span>
            <div class="d-flex justify-content-between mt-2" style="width: 300px">
              <span class="main-nav__third-level__desc text-secondary">Занято площадей</span>
              <span class="font-weight-bold">{{statistic.busy}}%</span>
            </div>

            <div class="d-flex justify-content-between mt-2" style="width: 300px">
              <span class="main-nav__third-level__desc text-secondary">Свободно площадей</span>
              <span class="font-weight-bold">{{statistic.free}}%</span>
            </div>

            <div class="d-flex justify-content-between mt-2" style="width: 300px">
              <span class="main-nav__third-level__desc text-secondary">В резерве</span>
              <span class="font-weight-bold">{{statistic.reserve}}%</span>
            </div>
          </div>

          <div class="mt-3">
            <span class="main-nav__third-level__title d-block pt-3">Арендаторы</span>
            <span v-for="item in renters" class="main-nav__third-level__desc text-secondary d-block">
              {{ item.renter }}
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import moment from 'moment';
  import floor_outline_2 from './floors/floor_outline_2';
  import floor_outline_1 from './floors/floor_outline_1';
  import floor_outline_3 from './floors/floor_outline_3';
  import floor_outline_4 from './floors/floor_outline_4';
  import floor_outline_5 from './floors/floor_outline_5';
  import floor_outline_6 from './floors/floor_outline_6';

  export default {
    name: "statistic-floor",
    components: {
      Datepicker,
      floor_outline_2,
      floor_outline_1,
      floor_outline_3,
      floor_outline_4,
      floor_outline_5,
      floor_outline_6
    },
    data () {
      return {
        floors: [],
        activeFloor: null,
        sum: 10000,
        generalStatistics: {
          busy: 40,
          free: 20,
          reserved: 10
        },
        priceLease: {

        },
        loading: true,
        ru,
        renters: null,
        mainDate: null,
        statistic: {
          free: 0,
          busy: 0,
          reserve: 0
        },
        docs: [],
        showLink: false
      }
    },
    async mounted() {
      this.$http.get('http://shuka.f-bc.ru:3030/docs').then(res => {
        this.$set(this, 'docs', res.body.data);

        this.docs.forEach(item => {
          item.type = item.name.split('.')[1]
        })
      });

      await this.$http.get('http://shuka.f-bc.ru:3030/floors').then(res => {
        this.$set(this, 'floors', res.body.data);

        this.setActiveFloor();

        this.$set(this, 'loading', false);
        this.getRenters();
      });

      this.$root.$on('updateRenters', () => {
        this.getRenters();
      });

      this.$root.$on('getFloorStatistic', data => {
        let busy = 0;
        let reserve = 0;
        let free = 0;
        let profit = 0;
        let total = data.length;



        data.forEach(item => {
          if (item.status === 'busy') {
            ++busy;

            if (item.YEuse && item.YEvalue) {
              profit += Number(item.YEvalue) * Number(item.price_base)
            } else {
              profit += Number(item.price_base);
            }
          } else if (item.status === 'reserve') {
            ++reserve;
          } else {
            ++free;
          }
        });

        console.log(reserve, 'reserve');

        this.$set(this, 'sum', profit);
        this.$set(this.statistic, 'free', (100 * free / total).toFixed(2));
        this.$set(this.statistic, 'busy', (100 * busy / total).toFixed(2));
        this.$set(this.statistic, 'reserve', (100 * reserve / total).toFixed(2));
      })

    },
    watch: {
      '$route.params.floorId'() {
        this.setActiveFloor();
        this.getRenters();
      }
    },
    methods: {
      createExel() {
        this.$http.get('http://shuka.f-bc.ru:3030/statistic?mainDate='+ moment(this.mainDate).format('MM.YYYY')).then(res => {
          this.$set(this, 'showLink', true);
        })
      },
      download() {
        window.location.replace("http://shuka.f-bc.ru:3030/download-second");
        // this.$http.get('http://shuka.f-bc.ru:3030/download-second').then(response => {
        //   let blob = new Blob([response.blob()], {type: response.headers.map['content-type']}),
        //     filename = (response.headers['Content-Disposition'] || '').split('filename=')[1];
        //
        //   let result = document.createElement('a');
        //   result.href = window.URL.createObjectURL(blob);
        //   result.download = filename;
        //   return result;
        // })
      },
      downloadDoc(item) {
        window.location.replace("http://shuka.f-bc.ru:3030/" + item.id_doc);
      },
      getRenters() {
        this.$http.get('http://shuka.f-bc.ru:3030/renters?floor=' + this.activeFloor.id).then(res => {
          this.$set(this, 'renters', res.body);
        })
      },
      setActiveFloor() {
        this.activeFloor = this.floors.find(x => {
          return Number(this.$route.params.floorId) === x.id
        });
      }
    }
  }
</script>

<style scoped>

</style>