@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@import "./bootstrap";

.login-page {
  .build {
    background: url("../assets/office-building.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  &__form {
    height: 100vh;
  }

  &__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #00233b;
    margin-bottom: 30px;
  }
}

.select-floor {
  min-width: 500px;
  width: 50%;

  &__wrap {
    background: rgba(204, 204, 204, 0.5);
    height: 100px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &__floor {
    &__item {
      color: #8d8d8d;
      background: #fff;
      border-radius: 3px;
      margin-right: 2px;
      text-align: center;
      cursor: pointer;
      transition: all .3s;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #cacaca;
      }

      &.active {
        background: #41c340;
        color: white;
      }
    }
  }
}

.line {
  background-color: #C7CBCE;
  height: 34px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid black;

  &__first {
    height: 100%;
    background: #00a26a;
  }

  &__second {
    background: #6a787e;
    height: 100%;
  }
}

.main-nav {
  //min-width: 500px;
  //width: 50%;

  &__first-level {
    background: #008356;
    height: 100px;
    color: white;
  }

  &__second-level {
    background: #00a26a;
    //height: 100px;

    .title {
      font-size: 16px;
      font-family: Roboto;
      font-weight: bold;
      color: #fff;
    }

    .profit {
      font-size: 24px;
      font-family: Roboto;
      font-weight: bold;
      color: #fff;
    }
  }

  &__third-level {
    background: #e1e1e1;
    min-height: calc(100vh - 200px);
    color: black;

    span {
      display: block;
      color: #888;

      &:nth-child(2) {
        color: #545454;
        font-size: 16px;
        font-weight: bold;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: bold;
      color: black !important;
    }

    &__wrap {
      width: 440px;
    }
  }

  .logo {
    max-width: 200px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .profile {
    max-width: 40px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.main-admin-page {
  &__left-column {
    background: #404946;
    height: 100px;
    width: 50%;
  }

  &__right-column {
    background: #008356;
    height: 100px;
    width: 50%;

    .logo {
      max-width: 200px;
    }

    .profile {
      max-width: 40px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__return-nav {
    background: #41C340;
    height: 100px;

    span {
      font-size: 20px;
      color: #fff;
      font-weight: bold;

      &:nth-child(2) {
        cursor: pointer;

        &:hover {
          color: #008356;
        }
      }
    }
  }
}

table {
  font-size: 14px;
  text-align: center;

  thead {
    th {
      vertical-align: top !important;
    }
  }

  tr {
    cursor: pointer;
  }
}

.wrap-button-modal {
  button {
    display: block;
    margin-top: 39px;
  }
}

.vdp-datepicker__calendar {
  right: 0;
}

.st0 {
  fill: #C6CACD;
}

.st1 {
  fill: #FFFFFF;
}

.st2 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #6A787E;
  cursor: pointer;

  &:hover {
    fill: #00a26a;
  }
}

.active-place {
  fill: #41C340;
}

.login-input {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 0;
  outline: none;
  font-size: 14px;
  line-height: 1.71;
  color: #3a4b56;
  position: relative;

  &_login, &_pass {

    img {
      z-index: 22;
      right: 20px;
      top: 20px;
    }
  }
}

.statistics .table {
  width: 100%;
}

.statistics .table th {
  font-family: 'RobotoMedium';
  text-align: left;
  padding-bottom: 11px;
  color: #3d3d3d;
  border: none;
}

.statistics .table tr td:nth-child(1) {
  width: 470px;
}

.statistics .table tr td {
  padding: 3px 0;
  border: none;
}

.statistics .table tr td:nth-child(2) {
  padding-left: 30px;
  font-size: 14px;
  color: #3d3d3d;
}

.statistics .table tr td:nth-child(3) {
  color: #6a787e;
  font-size: 16px;
  font-family: RobotoBold;
  text-align: right;
}

.statistics .table tr:nth-child(2) td:nth-child(3) {
  color: #6a787e;
}

.statistics .table tr:nth-child(3) td:nth-child(3) {
  color: #00a26a;
}

.statistics .table tr:nth-child(4) td:nth-child(3) {
  color: #000000;
}

.statistics .table tr:nth-child(2) td:nth-child(1) .current {
  background: #6a787e;
}

.statistics .table tr .correct {
  background: #00a26a;
  height: 100%;
  border-radius: 14px;
}

.statistics .table tr:nth-child(3) td:nth-child(1) .current {
  background: #00a26a;
}

.statistics .table tr:nth-child(4) td:nth-child(1) .current {
  background: #000000;
}

.statistics .table {
  margin-top: 43px;
  border: none;
}

.statistics .stat_line {
  border-radius: 14px;
  background-color: #C7CBCE;
  height: 14px;
}

.statistics .stat_line .current {
  height: 100%;
  border-radius: 14px;
}

.change-exel {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  img {
    width: 20px;
    transition: all .3s;
  }
}

.bottom_line ul {
  list-style-type: none;
  display: flex;
  padding-top: 50px;
  margin: auto;
  width: 560px;
}

.bottom_line ul li:nth-child(1) span.marker {
  background: #6a787e;
}

.bottom_line ul li:nth-child(2) span.marker {
  background: #41c340;
}

.bottom_line ul li:nth-child(3) span.marker {
  background: #001a2a;
}

.bottom_line ul li {
  margin-right: 35px;
}

.marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.modal-renter {
  &__block {
    border-bottom: 1px solid #888;
  }
}

.datepicker-margin {
  margin-top: 40px;
}



#renterChange {
  .datepicker-margin {
    margin-top: 96px;
  }
}

.cls-1 {
   fill: none;
 }

.cls-2 {
  fill: #c6cacd;
}

.cls-3 {
  fill: #fff;
}

.cls-4 {
  fill: #6a787e;
  cursor: pointer;

  &:hover {
    fill: #00a26a;
  }
}

.busy {
  fill: #41c340;
}

.free {
  fill: #6a787e;
}

.reserve {
  fill: #001a2a;
}

.statistic-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.green {
  background-color: #00a26a;
}

.grey {
  background: #6a787e;
}

.grey-light {
  background: #C7CBCE;
}

.custom-file-label::after {
  content: 'Загрузить'
}

.delete-date {
  width: 12px;
}

.table-docs {
  padding: 5px 20px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  margin-right: 20px;

  img {
    width: 13px;
    margin-left: 20px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 1000px) {
  .main-nav {
    width: 100%;
  }

  .select-floor {
    width: 100%;
  }
}
