<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<style lang="scss" type="text/scss" src="./style/style.scss"></style>
<script>
export default {
  name: 'App',
  // mounted() {
  //   debugger
  // }
}
</script>


